.form {
  max-width: 385px;
}

.form__label {
  padding-bottom: 8px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: black;
}

.form__input {
  box-sizing: border-box;
  margin-bottom: 32px;
  height: 60px;
  padding-left: 15px;
  border-radius: 4px;
  border-color: #838383;
}

.form__save {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  background-color: #2f80ed;
  color: white;
  border: 0px;
  border-radius: 4px;
}

.form__label-checkbox {
  text-align: center;
  padding-top: 32px;
  border-radius: 2px;
  color: black;
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

[type="checkbox"],
[type="radio"] {
  height: 20px;
  width: 20px;
}
