.form {
  max-width: 385px;
}

.form__label {
  padding-bottom: 8px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  margin-bottom: 32px;
  height: 60px;
  padding-left: 15px;
}

.form__save {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  background-color: #2f80ed;
  color: white;
  border: 0px;
}

.form__label-checkbox {
  text-align: center;
  padding-top: 32px;
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
