.menu {
  background-color: #fff;
  background-image: url("../images/background_menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__title {
  max-width: 780px;
  padding-top: 100px;
  padding-bottom: 24px;
  justify-content: center;
}

.menu__subtiile {
  max-width: 708px;
  padding-bottom: 100px;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  max-width: 1000px;
  justify-content: center;
}
