.menu {
  background-color: #fff;
  background-image: url("../images/background_menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.menu__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 780px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 24px;
  justify-content: center;
  text-align: center;
}

.menu__subtile {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 780px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 100px;
  justify-content: center;
  text-align: center;
}

.menu__cards {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  max-width: 1100px;
  justify-content: center;
  gap: 100px;
  margin: 100px auto 0;
}
