.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.nav__links {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-left: auto;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  list-style-type: none;
  display: flex;
  column-gap: 20px;
  padding: 0px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.nav__link:hover {
  color: #1f69c9;
  transition: color 0.5s;
}
