.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.recipes__title {
  max-width: 500px;
  padding-top: 100px;
  padding-bottom: 24px;
  margin-left: 80px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 430px;
  padding-left: 80px;
  margin-bottom: 80px;
}

.recipes__video {
  margin-right: 40px;
}
.recipes__iframe {
  border: 0;
  height: 273px;
  width: 480px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  padding-bottom: 215px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
}
