.page {
  min-width: 1100px;
  max-width: 1600px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-image: url("../images/background_header.svg");
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  height: 125px;
  width: 142px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.nav__links {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 30px;
  margin-right: 80px;
  margin-left: auto;
  list-style-type: none;
  display: flex;
  column-gap: 20px;
  padding: 0px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: #1f69c9;
}

.header__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  max-width: 729px;
  margin-top: 202px;
  margin-bottom: 28px;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin-bottom: 0;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  z-index: 1;
  position: absolute;
  max-width: 636px;
  top: 124px;
  right: 0px;
}

.header__footer {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 40px 80px 0;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link:hover {
  color: #1f69c9;
  text-decoration: none;
}

.header__address {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
  color: #838383;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.recipes__title {
  max-width: 500px;
  padding-top: 100px;
  padding-bottom: 24px;
  margin-left: 80px;
}

.recipes__subtitle {
  max-width: 430px;
  padding-left: 80px;
  margin-bottom: 80px;
}

.recipes__video {
  margin-right: 40px;
}
.recipes__iframe {
  margin-right: 40px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  padding-bottom: 215px;
}

.reservation {
  padding-left: 33%;
  padding-right: 33%;
  padding-bottom: 100px;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

.reservation__title {
  padding-top: 100px;
  padding-bottom: 80px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.reservation__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.reservation__form-label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.menu {
  background-color: #fff;
  background-image: url("../images/background_menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__title {
  max-width: 780px;
  padding-top: 100px;
  padding-bottom: 24px;
}

.about {
  padding: 100px 80px;
  background-color: #1f1f1f;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  z-index: 0;
  display: flex;
}

.about__title {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  z-index: 1;
  max-width: 154px;
  position: relative;
}

.about__content {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  max-width: 660px;
  margin-left: 120px;
}

.about__paragraph {
  margin-bottom: 32px;
  margin-top: 0;
}

.about__paragraph:last-of-type {
  margin-bottom: 0px;
}

.about__circle {
  background-color: #2f80ed;
  width: 495px;
  height: 495px;
  border-radius: 50%;
  position: absolute;
  top: -121px;
  left: -91px;
  z-index: -1;
}

.footer {
  box-sizing: border-box;
  background: #1f1f1f;
  color: white;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 80px;
  padding-right: 102px;
  font-size: 16px;
  line-height: 20px;
  min-height: 224px;
}

.footer__columns {
  display: flex;
}

.footer__column_content_hours {
  margin-left: auto;
}

.footer__column_content_social {
  margin-left: 100px;
}

.footer__logo {
  height: 21px;
  width: 116px;
}

.footer__list {
  list-style-type: none;
  margin: 0px;
  padding: 0;
}

.footer__list-item {
  margin-bottom: 16px;
}

.footer__list-item:last-of-type {
  margin-bottom: 0px;
}

.footer__column-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
}

.footer__column-link {
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.footer__column-link:hover {
  color: #c1c1c1;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.footer__copyright {
  margin-top: 108px;
  margin-bottom: 0px;
}
